---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery";
---

<Layout title="Crypto Crate - Gallery">
  <div class="px-4 lg:px-20 my-14">
    <div
      class="flex justify-center items-center rounded-full bg-zinc-600 px-8 py-2 w-[200px] mb-5"
    >
      <p>Explore assets</p>
    </div>
    <h1 class="text-4xl">Gallery</h1>
  </div>
  <Gallery client:only="react" />
</Layout>
