---
import Layout from "../layouts/Layout.astro";
import MintForm from "../components/MintForm";
---

<Layout title="Crypto Crate - Mint crate">
  <div class="px-4 lg:px-20 my-14">
    <div
      class="flex justify-center items-center rounded-full bg-zinc-600 px-8 py-2 w-[200px] mb-5"
    >
      <p>Mint product</p>
    </div>
    <h1 class="text-4xl">Create a new crate</h1>
  </div>
  <MintForm client:only="react" />
</Layout>
