<footer>
    <div class="flex flex-col items-center">
        <h3 class="mb-10 font-bold text-2xl">Start now by connecting with us</h3>
        <button
            class="mb-48 px-8 py-3 rounded-full bg-blue-700 hover:bg-blue-800"
            >Connect wallet</button
        >
        <div class="mb-5">
            Created in 🇻🇪 by BitCode - All Rights Reserved 2023
        </div>
    </div>
</footer>
