---
import Layout from "../../layouts/Layout.astro";
import CrateDetails from "../../components/CrateDetails";
export const prerender = false;

const { id } = Astro.params;
---

<Layout title={"Crate - #" + id}>
  <div class="px-4 lg:px-20 my-14">
    <div
      class="flex justify-center items-center rounded-full bg-zinc-600 px-8 py-2 w-[200px] mb-5"
    >
      <p>#{id}</p>
    </div>
    <h1 class="text-4xl">Crate details</h1>
  </div>
  <CrateDetails client:only="react" id={id} />
</Layout>
